* {
  box-sizing: border-box;
}
.slideshow-container {
  max-width: 70%;
  position: relative;
  margin: auto;
  overflow: hidden;
}
.slides {
  display: none;
}
.slides-img {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.705);
}
.slides-link {
  position: absolute;
  border-radius: 10px;
  left: 50%;
  top: 70%;
  text-decoration: none;
  color: rgb(0, 0, 0);
  background: rgb(255, 96, 0);
  padding: 10px;
  font-size: 10px;
  font-weight: bold;
  transform: translate(-50%, -70%);
  text-shadow: -1px -1px 0 hsl(0, 0%, 32%), -2px -2px 1px hsl(0, 0%, 70%);
}
.slides-link:hover {
  color: black;
  background-color: white;
  transform: translate(-50%, -70%);
  background: rgba(255, 98, 0, 0.9);
  text-decoration: none;
}
.slides-link:active {
  text-decoration: none;
  background: rgba(255, 98, 0, 0.7);
  color: rgba(0, 0, 0, 0.705);
}
.slides-dots {
  display: flex;
  text-align: center;
  position: absolute;
  bottom: 10px;
  right: 50%;
  transform: translateX(50%);
}
.dot {
  cursor: pointer;
  height: 10px;
  min-width: 40px;
  margin: 0 2px;
  background-color: #777;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.dot:hover {
  background: rgb(252, 178, 0);
}
.animation {
  max-width: 40px;
  height: 10px;
  background-color: #ff6005;
  -webkit-animation-name: bcg-dot;
  -webkit-animation-duration: 2.5s;
  animation-name: bcg-dot;
  animation-duration: 7s;
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: auto;
  margin-top: -22px;
  padding: 30px;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  text-decoration: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2.5s;
  animation-name: fade;
  animation-duration: 7s;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.8;
    transform: scale(1.03);
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.8;
    transform: scale(1.03);
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
@media screen and (min-width: 760px) {
  .slides-link {
    padding: 20px;
    font-size: 20px;
  }
  .dot {
    height: 10px;
    min-width: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .slides-link {
    padding: 25px;
    font-size: 30px;
  }
  .dot {
    height: 10px;
    min-width: 40px;
  }
}

/* ! */

.colors {
  margin-top: 100px;
  display: flex;
  margin-bottom: 100px;
}
.color {
  width: 240px;
  height: 100px;
  margin-right: 10px;
  border: 2px solid black;
}
.color1 {
  background-color: #ff6005;
}
.color2 {
  background-color: #f7c51f;
}
.color3 {
  background-color: #f7f7f7;
}
.color4 {
  background-color: #333;
}
.color5 {
  background-color: #777;
}
.color6 {
  background-color: #f7f7f7;
}

/* ! */

.spaces-gal .owl-dots {
  width: 100%;
  margin: 10px auto;
  text-align: center;
}
.spaces-gal .owl-dot {
  height: 10px;
  width: 40px;
  background-color: #ff5722 !important;
  display: inline-block;
  border-radius: 0;
  opacity: 1;
  transition: 0.3s;
  margin: 0 5px;
}
.spaces-gal .owl-dot.active {
  background-color: #e1e1e1 !important;
  opacity: 1;
  width: 40px;
  position: relative;
}
.spaces-gal .owl-dot.active ~ .owl-dot {
  background: #e1e1e1 !important;
}
.spaces-slide {
  position: relative;
}
.spaces-slide img {
  width: 500px;
  height: 200px;
  object-fit: cover;
  display: block;
  margin: auto;
}
.spaces-gal .owl-dot.active::before {
  content: " ";
  background-color: #ff5722;
  -webkit-animation: backgroundLinera 5s linear;
  animation: backgroundLinera 5s linear;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 0;
  border-radius: 2px;
}
@keyframes backgroundLinera {
  0% {
    width: 0;
  }
  50% {
    width: 50%;
  }
  to {
    width: 100%;
  }
}
.spaces-gal button {
  appearance: none;
  background: transparent;
  border: 0px;
  text-align: center;
  position: relative;
  display: block;
  width: inherit;
  margin-top: 1em;
}
